---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

---

<BaseLayout title="About | Yunisha Baskota">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm Yunisha Baskota, a passionate computer engineering graduate from TU, IOE Purwanchal Campus, Dharan. With a keen interest in web development and data analysis, I've worked on various projects that blend technology and innovation.
					</p>
					<p>
						My journey in tech started with my fascination for problem-solving and creating efficient solutions. Over the years, I've honed my skills through academic courses, online certifications, and hands-on projects.
					</p>
					<p>
						Currently, I'm focusing on enhancing my expertise in web development, data analysis, and quality assurance. I'm always eager to learn new technologies and contribute to meaningful projects.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong>BE Computer Engineering</strong> |<div class="content1">TU,IOE Purwanchal Campus, Dharan</div>
					</p>
					<!-- <div> -->
						<p>
						<strong>High School/(+2)</strong>|<div class="content1"> Liverpool International College, Kathmandu</div>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content certifications">
					<div class="certification-card">
						<h3>Data Analytics</h3>
						<p>Coursera, Google</p>
						<ul>
							<li>Foundations: Data, Data, Everywhere - <strong><a href="https://www.dropbox.com/scl/fi/taofndxab9fz9cak0lyig/Coursera-3NNFE4YW6JX7.pdf?rlkey=s3o8oqo6op52p1yfp6qda72ow&st=vem30mwt&dl=0">Certificate</a></strong></li>
							<li>Ask Questions to Make Data-Driven Decisions - <strong>Ongoing</strong></li>
						</ul>
					</div>
					
					<div class="certification-card">
						<h3>Software Quality Assurance</h3>
						<p>Deerwalk Training Center</p>
						<ul>
							<li>Quality Assurance - <strong>Ongoing</strong></li>
						</ul>
						</div>
					<div class="certification-card">
						<h3>Web Development</h3>
						<p>ACES, Purwanchal Campus</p>
						<ul>
							<li>Basic PHP & Laravel Workshop - <strong><a href="https://www.dropbox.com/scl/fi/av4fm2ipj2809ggnu71rd/YunishaBaskota-1.jpg?rlkey=poly0udk5u1zcksec1ogjhf8o&st=hk2g7yxn&dl=0">Certificate</a></strong></li>
							<li>Web Development Training - <strong><a href ="https://www.dropbox.com/scl/fi/lzeqshermvsrrzw6cgl1o/webdesign-taining.pdf?rlkey=ynd88lua0k2jknsc944siluwz&st=ztvhrafj&dl=0">Certificate</a></strong></li>
						</ul>
					</div>
					<div class="certification-card">
						<h3>Software Testing</h3>
						<p>Coursera, University of Minnesota</p>
						<ul>
							<li>Introduction to Software Testing - <strong>Completed</strong></li>
						</ul>
					</div>
				</div>
			</section>

				<h2 class="section-title">Memberships</h2>
				<div class="content memberships">
					<div class="membership-card">
						<h5>Former President</h5>
						<p>Purwanchal Dance Club<div class="content1">2023-2024</div></p>
						</div>
						<div class="membership-card">
							<h5>Former Treasurer and Program Incharge</h5>
							<p>Purwanchal Dance Club<div class="content1">2021-2023</div></p>
						</div>
						
		</main>

		<ContactCTA />
		<a class="download-link" href="/assets/myresume.pdf" download>Download Resume</a>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		padding: 2rem;
	}
	.hero {
		text-align: center;
		margin-bottom: 2rem;
	}

	.hero h1 {
		font-size: 2.5rem;
		color: #333;
	}

	.hero p {
		font-size: 1.25rem;
		color: #666;
	}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}
	.download-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    color: var(--accent-text-over);
    border: 1px solid var(--accent-regular);
    background-color: var(--accent-regular);
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.35;
    width: auto; /* Set width to auto */
    max-width: 200px; /* Set a maximum width for the button */
    text-align: center; /* Center the text */
    white-space: normal;
    word-wrap: break-word;
}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
		/* color: var(--accent-text-over); */
		padding: 1.5rem;
		border-radius: 0.5rem;
		box-shadow: var(--shadow-sm)
		margin-bottom: 2rem;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		/* color: var(--accent-text-over); */
		margin-bottom: 1rem;
	}

	/* .content {
		grid-column: 2 / 4;
	} */
	.content {
		font-size: 1rem;
		/* color: #555; */
		/* color: var(--accent-text-over); */
		line-height: 1.6;
	}

	.content p {
		margin-bottom: 0.5rem;
	}
	.content1{
		color: #555;
		margin-bottom: 0.5rem;

	}
	
	.certifications {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
	}
	.memberships {
		display: flex;
		flex-direction: column;
		gap:1.5rem;
	}
	.membership-card{
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		box-shadow: var(--shadow-md);
		padding: 1rem;
		color: var(--accent-text-over);
	}


	.certification-card {
		/* background-color: #e0f7fa; */
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
		padding: 1rem;
		color: var(--accent-text-over);
		
	}
	.download-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    color: var(--accent-text-over);
    border: 1px solid var(--accent-regular);
    background-color: var(--accent-regular);
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.35;
    width: auto; /* Set width to auto */
    max-width: 200px; /* Set a maximum width for the button */
    text-align: center; /* Center the text */
    white-space: normal;
    word-wrap: break-word;
}

	.certification-card h3 {
		font-size: 1.25rem;
		color: white;
		margin-bottom: 0.5rem;
	}

	.certification-card p {
		font-size: 1rem;
		color: white;
		margin-bottom: 0.5rem;
	}

	.certification-card ul {
		list-style: disc;
		margin-left: 1.5rem;
	}

	.certification-card ul li {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		color: white;
	}
	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
			gap: 2rem;
		}


		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
		.certifications{
			grid-column: 2 / 4 ;
		}
	}
</style>
